body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .resume {
    max-width: 800px;
    margin: 30px auto;
    background-color: #ffffff; /* White background */
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #353535; /* Color 4 - Dark Gray text color */
  }
  
  .header {
    text-align: center;
    background-color: #c53c02; /* Color 1 - Orange */
    color: #f7f9f9; /* White text color for the header */
    padding: 20px;
    border-radius: 5px;
  }
  
  .header h1 {
    margin: 5px 0;
    font-size: 36px;
    color: #f7f9f9; /* Color 2 - Blue */
  }
  
  .header p {
    margin: 0;
    font-size: 18px;
    color: #f7f9f9; /* Dark Gray text color for the header */
  }
  
  .section:nth-child(1) {
    background-color: #c53c02; /* Color 1 - Orange */
    color: #f7f9f9; /* White text color for the first section */
    padding: 15px;
    border-radius: 5px;
  }
  
  .section:nth-child(2) {
    background-color: #265a8f; /* Color 2 - Blue */
    color: #f7f9f9; /* White text color for the second section */
    padding: 15px;
    border-radius: 5px;
    list-style-type: disc;;
  }
  
  .section:nth-child(3) {
    background-color: #fdee00; /* Color 3 - yellow */
    color: #f7f9f9; /* White text color for the third section */
    padding: 15px;
    border-radius: 5px;
  }
  
  .section h2 {
    font-size: 30px;
  }
    

.bio-description
{
    display: flex;
    justify-content: center;
}

.social
{
    margin-top: 10px;
    display: flex;
    justify-content:space-evenly;

}
.social a{
    text-decoration: none;
    color:#ffffff;
}

.section.about-me h2
{
    text-align: center;
}

.section.about-me
{
    padding: 10px;
}

.section.about-me ul li
{
    padding: 10px;
}


.section.technical h2
{
    text-align: center;
}

.section.technical
{
  background-color: #353535;
  color: #f7f9f9;
    padding: 10px;
}

.section.technical ul li
{
 padding: 5px;
}

.ed-1 , .ed-2
{
  margin-bottom: -10px;
}

.section.project h2
{
    text-align: center;
}

.section.project
{
  color: #353535;
    padding: 10px;
}

.section.project h3
{
  margin-left: 15px;
}

.mta
{
  text-decoration: none;
  
  color: black;
}
